# for advanced users :)

# direnv -- Unclutter your .profile
# https://github.com/direnv/direnv

# Use command the below to apply changes after editing .env or another file with enviroment variables
# $ direnv allow

set -a
source .env
set +a
